:root {
    --color: #433422;
    --color-secondary: #504231;
    --bg: #EAE5D6;
    --bg-secondary: #eae0c9;
    --border-color: #ded0bf;

    --sepia: 25, 25, 25;
    --font-main: 'Playfair Display', serif;
    --font-titleone: 'Poiret One', cursive;;
    --font-titletwo: 'Secular One', sans-serif;
  }
  
  .dark-mode {
    --color: #ebf4f1;
    --color-primary: #41b38a;
    --color-secondary: #fdf9f3;
    --bg: #191919;
    --bg-secondary: #071521;
    --border-color: #0d2538;

    --sepia: 234, 229, 214;
  }
  .green {
    --color: #433422;
    --color-secondary: #504231;
    --bg: #EAE5D6;
    --bg-secondary: #eae0c9;
    --border-color: #ded0bf;
  }
  
  body {
    font-family: var(--font-main);
    background-color: var(--bg);
    color: var(--color);
    transition: background-color 0.3s;
  }
  a.main-link{
    background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
  }
  
  a.main-link:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .6s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }


// Diactivate kinssis on mobile
@media (max-width: 640px) {
  *[data-kinssis]{
    /*for all elements with background parallax effect*/
    background-position: center !important; 

    /*for all elements with foreground parallax effect*/
    transform: none !important;
  }
}

.appNoise {
    height: 100%;
    height: 100vh;
    // height: calc(var(--vh,1vh)*100);
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    &::after {
        -webkit-animation: grain 8s steps(10) infinite;
        animation: grain 8s steps(10) infinite;
        background-image: url(~assets/images/bggain.png);
        content: "";
        height: 300%;
        left: -50%;
        opacity: 0.2;
        position: fixed;
        top: -110%;
        width: 300%;
    }
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }